/*--------------------------------------------
    //Team Member
--------------------------------------------*/
.advanced_addons_team_member.type-1 img {
    height: 181px;
    width: 181px;
    border-radius: 50%;
}

.advanced_addons_team_member.type-1 .advanced_addons_team_member_content {
    padding: 32px 0 35px 0;
}

.advanced_addons_team_member.type-1 {
    padding: 40px 0 35px 0;
    transition: all .30s linear;
    padding-bottom: 0;
    background: #fafafa;
}

.advanced_addons_team_member.type-1:hover, .advanced_addons_team_member.type-1.active {
    box-shadow: 0px 0px 60px rgba(0, 0, 0, .10);
    background: #ffffff;
}

.hoverable-block {
    width: 100%;
}

.advanced_addons_team_member.type-1 .hoverable-block {
    width: 100%;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .30s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advanced_addons_team_member.type-1:hover .hoverable-block {
    visibility: visible;
    opacity: 1;
}

.advanced_addons_team_member.type-1 .hoverable-block li a {
    height: 45px;
    width: 45px;
    display: inline-flex;
    background: #efefef;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
}

.advanced_addons_team_member.type-1 .hoverable-block li:not(:last-child) {
    margin-right: 10px;
}

.advanced_addons_team_member.type-1 .hoverable-block li a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

/*Team Member style-2*/
.advanced_addons_team_member.type-1.media-style .block-body {
    padding: 0 40px 0 40px;
}

.advanced_addons_team_member.type-1.media-style .block-head {
    padding: 0 40px 0 40px;
    position: relative;
    margin-bottom: 17px;
}

.advanced_addons_icon_group.type-2  li a {
    height: 40px;
    width: 40px;
    background: #ffffff;
}

.advanced_addons_icon_group.type-2.media-style  li a {
    height: 40px;
    width: 40px;
    border-width: 2px;
}

.advanced_addons_icon_group.type-2  li a:hover a {
    color: #2f2f2f;
}

.advanced_addons_team_member.type-1.media-style .block-head::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f4f4f4;
    top: 50%;
    z-index: 0;
}

.advanced_addons_team_member.type-1.media-style {
    padding: 45px 0 25px 0;
}

.advanced_addons_team_member.type-1.media-style img, .advanced_addons_team_member.type-1.media-style ul {
    position: relative;
    z-index: 5;
}

.advanced_addons_team_member.type-1.media-style img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid #f4f4f4;
}

/*-----------------------------------
    // Team Member
-----------------------------------*/
.advanced_addons_team_member.type-2 {
    position: relative;
    overflow: hidden;
}

.advanced_addons_team_member.type-2 img {
    left: 0;
    max-width: 100%;
    max-height: 510px;
    bottom: 0;
    z-index: 0;
    position: relative;
    transition: all .20s linear;
}

.advanced_addons_team_member.type-2 .block-body {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, .88);
    padding: 35px 0;
    z-index: 5;
    transition: all .20s linear;
}

.advanced_addons_team_member.type-2 .block-body h5 {
    color: #2f2f2f;
}

.advanced_addons_team_member.type-2 .block-body .advanced_addons_icon_group {
    position: absolute;
    visibility: hidden;
}

.advanced_addons_team_member.type-2 .block-body p {
    color: #2055ce;
    font-weight: 500;
}

.advanced_addons_team_member.type-2::before {
    content: "";
    position: absolute;
    left: 0;
}

.advanced_addons_team_member.type-2::before {
    content: "";
    border-top: 8px solid #f4f4f4;
    border-left: 8px solid #f4f4f4;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    transition: all .20s linear;
}

.advanced_addons_team_member.type-2::after {
    content: "";
    bottom: 0;
    right: 0;
    border-bottom: 8px solid #f4f4f4;
    border-right: 8px solid #f4f4f4;
    height: 400px;
    width: 100%;
    position: absolute;
    transition: all .20s linear;
}

.advanced_addons_team_member.type-2:hover::before, .advanced_addons_team_member.type-2:hover::after {
    border-color: #3b6ad4;
}

.advanced_addons_team_member.type-2:hover .block-body {
    padding: 35px 0 92px 0;
}

.advanced_addons_team_member.type-2 .block-body .advanced_addons_icon_group {
    visibility: visible;
    bottom: -45px;
    margin: 0 !important;
}

.advanced_addons_team_member.type-2:hover .block-body .advanced_addons_icon_group {
    visibility: visible;
    bottom: 38px;
    margin: 0 !important;
    transition-delay: .20s;
    transition: all .20s linear;
}

/*-------------------------------------------
    //Social Share
-------------------------------------------*/
.advanced_addons_social_share.type-1 .advanced_addons_icon_group {
    margin-top: 20px;
}

.advanced_addons_icon_group  li a {
    font-size: 16px;
    color: #c4c4c4;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #f9f9f9;
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advanced_addons_icon_group  li:not(:last-child) {
    margin-right: 10px;
}

.advanced_addons_social_share.type-1 h3 {
    font-size: 28px;
    color: #2f2f2f;
    margin-bottom: 12px;
    line-height: 23px;
}

.advanced_addons_icon_group.type-2  li a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

/*-------------------------------------------
    // Team Member - 3
-------------------------------------------*/
.advanced_addons_team_member_area.type-3 {
    background: #af2dff;
    background: -moz-linear-gradient(-45deg,  #af2dff 0%, #4eb4fe 100%);
    background: -webkit-linear-gradient(-45deg,  #af2dff 0%,#4eb4fe 100%);
    background: linear-gradient(135deg,  #af2dff 0%,#4eb4fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af2dff', endColorstr='#4eb4fe',GradientType=1 );
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_image img {
    height: 235px;
    width: 235px;
}

.advanced_addons_team_member.type-3 {
    background: #52aefe;
background: -moz-linear-gradient(-45deg,  #52aefe 0%, #ac30ff 100%, #1e5799 100%);
background: -webkit-linear-gradient(-45deg,  #52aefe 0%,#ac30ff 100%,#1e5799 100%);
background: linear-gradient(135deg,  #52aefe 0%,#ac30ff 100%,#1e5799 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52aefe', endColorstr='#1e5799',GradientType=1 );

    border-radius: 120px;
    transition: all .30s linear;
    position: relative;
}
.advanced_addons_team_member.type-3:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #52aefe;
    border-radius: 120px;
    visibility: hidden;


}
.advanced_addons_team_member.type-3:hover {
    background: #ffffff;
}
.advanced_addons_team_member.type-3:hover::before{
    visibility: visible;
}
.advanced_addons_team_member.type-3 .advanced_addons_team_member_content {
    padding: 0 35px 0 35px;
    flex: 1;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content h5 {
    font-size: 18px;
    font-weight: 600;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content ul {
    margin-top: 15px;
    margin-bottom: 14px;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content .advanced_addons_icon_group
 a {
    color: #a7a7a7;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content .advanced_addons_icon_group li:hover a {
    color: #806eff;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content ul::before,.advanced_addons_team_member.type-3 .advanced_addons_team_member_content ul::after {
    content: "";
    position: absolute;
    height: 3px;
    background: #806eff;
    width: calc(100% - 10px);
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .30s linear;
}

.advanced_addons_team_member.type-3:hover
 h5 {
    color: #2f2f2f;
}

.advanced_addons_team_member.type-3:hover
  span {
    color: #a0a0a0 !important;
}

.advanced_addons_team_member.type-3:hover
 p {
    color: #555555 !important;
}


.advanced_addons_team_member.type-3 .advanced_addons_team_member_image {
    display: inline-block;
    position: relative;
}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_image::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    border-radius: 50%;
    border: 15px solid rgba(255,255,255,.15);
    height: calc(100% + 30px);
    width: calc(100% + 30px);
    transform: rotateY(-90deg);
    transform-origin: right;
    transition: all .30s linear;
}

.advanced_addons_team_member.type-3:hover  .advanced_addons_team_member_image::before {
    transform: rotate(0deg);
}

@keyframes circleRotate{
    0{
        transform: rotate(0deg);
    }
     50%{
        transform: rotate(1800deg)
    }
     100%{
        transform: rotate(0deg)
    }

}

.advanced_addons_team_member.type-3 .advanced_addons_team_member_content ul::after {
    width: 0;
    background: #56a9fe;
    transition-delay: .20s;
}

.advanced_addons_team_member.type-3:hover  .advanced_addons_team_member_content ul::after {
    width: calc(100% - 10px);
}
/*-----------------------------------------
-----------------------------------------*/
.advanced_addons_team_member.type-4 .advanced_addons_team_member_content {
    border: 1px solid #e5e5e5;
    padding: 25px 0;
    border-radius: 10px;
    margin-top: -5px;
    z-index: 9;
    position: relative;
    transition: all .30s linear;
}

.advanced_addons_team_member.type-4 {
    border-radius: 10px;
}

.advanced_addons_team_member.type-4 .hoverable_content {
    width: 100%;
    height: calc(100% - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(4,43,33,.50);
    border-radius: 10px;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all .30s linear;
}

.advanced_addons_team_member.type-4 .hoverable_content a {
    color: #ffffff;
    font-size: 36px;
    top: -47px;
    position: absolute;
    transition: all .30s linear;
}

.advanced_addons_team_member.type-4 .advanced_addons_team_member_image img {
    border-radius: 10px;
}

.advanced_addons_team_member.type-4:hover  .advanced_addons_team_member_content {
    background: #00aee6;
    border-color: transparent;
}
.advanced_addons_team_member.type-4  .advanced_addons_team_member_content h5{
    transition: all .30s linear;
}
.advanced_addons_team_member.type-4:hover  .advanced_addons_team_member_content h5 {
    color: #ffffff;
    animation: flipInX 1s linear;
}

.advanced_addons_team_member.type-4:hover .hoverable_content {
    transform: rotate(0deg);
}

.advanced_addons_team_member.type-4:hover .hoverable_content a {
    top: calc(50% - 25px);
    animation: bounceInDown 1s linear;
}
/*-----------------------------------------
-----------------------------------------*/


/*-----------------------------------------
-----------------------------------------*/

/*-----------------------------------------
-----------------------------------------*/
@media (max-width:1200px) and (min-width:992px) {
    .advanced_addons_team_member.type-1 .hoverable-block {
        width: 100%;
    }

    .advanced_addons_team_member.type-1.media-style .block-body {
        padding: 0 20px 0 20px;
    }

    .advanced_addons_team_member.type-1.media-style .block-head {
        padding: 0 20px 0 20px;
    }

    .advanced_addons_team_member.type-1.media-style img {
        height: 90px;
        width: 90px;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .advanced_addons_team_member.type-1 img {
        height: 100px;
        width: 100px;
    }

    .advanced_addons_team_member.type-1 .hoverable-block li a {
        height: 35px;
        width: 35px;
    }

    .advanced_addons_team_member.type-1.media-style .block-head {
        flex-flow: column;
    }

    .advanced_addons_team_member.type-1.media-style ul {
        margin-top: 10px;
    }

    .advanced_addons_team_member.type-1.media-style .block-head::before {
        top: 36%;
    }

    .advanced_addons_team_member.type-1.media-style .block-body {
        padding: 0 20px 0 20px;
    }

    .advanced_addons_team_member.type-2::after, .advanced_addons_team_member.type-2::before {
        height: 270px;
    }

}

@media (max-width:576px) {
    .advanced_addons_team_member.type-1.media-style .block-head {
        flex-flow: column;
    }

    .advanced_addons_team_member.type-1.media-style ul {
        margin-top: 10px;
    }

    .advanced_addons_team_member.type-1.media-style .block-head::before {
        top: 36%;
    }

    .advanced_addons_team_member.type-1.media-style .block-body {
        padding: 0 20px 0 20px;
    }

}